<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/shopping-list"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="navbar-nav" appDropdown>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            style="cursor: pointer"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage
          </a>
          <ul class="dropdown-menu pr-5">
            <li><a class="dropdown-item">Save Data</a></li>
            <li><a class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
