<label for="">Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<input type="text" class="form-control" [(ngModel)]="serverName" />

<p *ngIf="serverCreated; else noServer">Server was created, {{ serverName }}</p>
<ng-template #noServer><p>No server was created</p></ng-template>

<button
  type="button"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }}</p> -->

<app-server *ngFor="let server of servers"></app-server>

<hr />
<!-- Exercise -->
<button type="button" class="btn btn-primary" (click)="onClick()">
  Display Details
</button>
<p *ngIf="displayParagraph">Secret password = tuna</p>

<p
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: i > 3 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i > 3 }"
>
  {{ logItem }}
</p>
